<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tulos</title>
    <link rel="stylesheet" href="/tyylit/tyylit.css" type="text/css">
</head>
<body>
    <main>
        <h1>Tietokonetiedot</h1>
        <p>Tunniste: <%= tulos.tunniste %></p>
        <p>Nimi: <%= tulos.nimi %></p>
        <p>Tyyppi: <%= tulos.tyyppi %></p>
        <p>Lukumäärä: <%= tulos.lukumaara %></p>
        <p>Suoritin: <%= tulos.suoritin %></p>
        <a href="/"><button>Valikko</button></a>
    </main>
    
</body>
</html>